body {
    font-family: sans-serif;
    line-height: 1.5;
    color: #2a2a2a;
    background-color: #fff;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.section {
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #3f51b5;
}
.section__heading {
    margin-top: 0;
    margin-bottom: 16px;
    color: #fff;
}

.container {
    max-width: 1140px;
    padding-left: 15px;
    padding-right: 15px;

}




/*. {
    border: none;
    border-radius: 4px;
    font-family: sans-serif;
    font-size: 16px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 
    0px 2px 2px 2px rgba(0, 0, 0, 0.14), 
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}*/

.button__icon {
    display: inline-flex;
    width: 20px;
    height: 20px;
    background-image: url("https: //www .flaticon .com/svg/static/icons/svg/ 891 / 891462.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.button__icon--start {
    margin-right: 10px;
}

.button__icon--end {
    margin-left: 10 px;
}

